:root{
    --square-length: calc(600px / 16);
    --square-color: red;
}
body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: darkgray;
    height: 100vh;
}

#head-line{
    height: 60px;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:600px;
    width:600px;
    padding:0;
    border: 2px solid yellow;
}

.square{
    /* flex: 0 0 calc(960px / 4); */
    flex: 0 0 var(--square-length);
    box-sizing: border-box;
    width: var(--square-length);
    height: var(--square-length);
    border: 1px solid black;
}

.marked{
    background-color: var(--square-color);
    /* opacity: 0.1; */
}
