body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    height: 100vh;
}

#head-line{
    height: 60px;
}

#menu{
    margin:0 0 20px;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:600px;
    width:600px;
    padding:0;
    border: 2px solid black;
}

.square{
    flex: 0 0 var(--square-length);
    box-sizing: border-box;
    width: var(--square-length);
    height: var(--square-length);
    border: 1px solid black;
}

